.topwave{
    background-image: url("../images/topwave.svg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.botwave{
  background-image: url("../images/botwave.svg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}