
.text-lys-farve{
  color: #48CAE4;
}

i.far {
  background-color: #48CAE4 ;
  display: inline-block;
  border-radius: 60px;
  padding: 0.5em 0.6em;

}

.contact-text{
  text-align: center;
  margin: 0 auto;

}

.card{
  border-radius: 1rem;
  flex-direction: unset !important;
  width: 100%;

}




.card-text-skills{
  font-size: 16px;
}



/* Til Mobil visning */
@media screen and (min-width: 320px) {
  .card {

  }
}

