
.text-lys-farve1{
  color: #48CAE4;
}

i.far1 {
  background-color: #48CAE4 ;
  display: inline-block;
  border-radius: 60px;
  padding: 0.5em 0.6em;

}

.contact-text1{
  text-align: center;
  margin: 0 auto;

}

.card1{
  border-radius: 1rem;
  flex-direction: unset !important;
  width: 100%;

}




.card-text-skills1{
  font-size: 16px;
}



/* Til Mobil visning */
@media screen and (min-width: 320px) {
  .card1 {

  }
}

