

.text-lys-farve{
  color: #48CAE4;
}

.card{
  border-radius: 1rem;
}

.linje {

  height: 3px;
  border-radius: 5px;
  background: #48CAE4;
  width: 50%;
  margin-top: 3px;
  margin-bottom: 10px;

}

.card-body{
  background-color: #001D3D;
  border-radius: 1rem;
}