

.kort{
  margin: 0 auto;
  width: 50%;
  margin-top: 10rem;
  min-width: 300px;

  .kort-titel{
    color: #ffffff;
    text-transform: uppercase;

    .linje1{

        height: 3px;
        border-radius: 5px;
        background: #48CAE4;
        width: 50%;
        margin-top: 3px;
        margin-bottom: 10px;

      @media screen and (min-width: 1000px){
        width: 30%;

      }



    }
  }

  .kort-text{
    color: #fff;
  }


}


.space{
  margin: 0 auto;
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-width: 300px;

  .linje2{
    height: 3px;
    border-radius: 5px;
    background: #48CAE4;
    width: 50%;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 10px;
    @media screen and(min-width: 900px){
      width: 30%;

    }
  }


}

.padding_bt{
  padding-bottom: 5rem;
}


.bølge {

}
.bølge2{
  height: 10rem;
}