.banner{
  width: 100%;
  height: 86vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.banner video{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 25%;
}
.banner .tekst{
  position: relative;
  line-height: 50px;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.banner .tekst h1{
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.banner .tekst p{
  font-size: 24px;
  color: white;
  text-align: center;
  margin-top:-10px ;
}
a{
  text-decoration: none;
}
.bannerdel{
  text-align: center;
}


.over2{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 28px;
  color: white;
  margin-top: -10px;
  margin-bottom: 5px;
}




@media screen and (min-width: 375px){

  .banner .tekst h1{
    font-size: 50px;
  }
}
@media screen and (min-width: 768px ) {
  .banner .tekst h1 {
    font-size: 75px;
  }
  .banner{
    height: 90vh!important;
  }
  .bannerdel{
    text-align: left;
    margin: 50px;
  }

  .over2{
    font-size: 50px;
  }

}
@media screen and (min-width: 1024px ){




}

.kort{
  margin: 0 auto;
  width: 50%;
  margin-top: 10rem;
  min-width: 300px;

  .kort-titel{
    color: #ffffff;
    text-transform: uppercase;

    .linje1{

      height: 3px;
      border-radius: 5px;
      background: #48CAE4;
      width: 50%;
      margin-top: 3px;
      margin-bottom: 10px;

      @media screen and (min-width: 1000px){
        width: 30%;

      }



    }
  }

  .kort-text{
    color: #fff;
  }


}

.kompetence-kort {
  margin: 0 auto;
  width: 50%;
  margin-top: 10rem;
  min-width: 300px;

  .kompentence-titel {
    color: #001D3D;
    text-transform: uppercase;

    h1{
      font-size: 25px;
      text-align: center;

      @media screen and(min-width: 768px){
        font-size: 28px;
      }
    }


    .kompetence-linje {
      height: 3px;
      border-radius: 5px;
      background: #48CAE4;
      width: 70%;
      margin: 0 auto;
      @media screen and(min-width: 992px){
        width: 50%;
      }
      @media screen and(min-width: 1200px){
        width: 40%;
      }


    }
  }
}



.space{
  margin: 0 auto;
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-width: 300px;

  .linje2{
    height: 3px;
    border-radius: 5px;
    background: #48CAE4;
    width: 50%;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 10px;
    @media screen and(min-width: 900px){
      width: 30%;

    }
  }


}

.padding_bt{
  padding-bottom: 5rem;
}



.bølge2{
  height: 10rem;
}



